*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/*
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.repo
/apks
/build
*/build
/backup
/captures
.externalNativeBuild
.cxx
java_*
*/market